[submodule "frontend"]
	path = frontend
	url = git@gitcode.com:openeuler/yuanrong-frontend.git
	branch = master
[submodule "functionsystem"]
	path = functionsystem
	url = git@gitcode.com:openeuler/yuanrong-functionsystem.git
	branch = master
[submodule "datasystem"]
	path = datasystem
	url = git@gitcode.com:openeuler/yuanrong-datasystem.git
	branch = master
